@tailwind base;
@tailwind components;
@tailwind utilities;

.list:hover {
    background-color: rgb(182, 182, 182);
}
.selected {
    background-color: #6e6b6b;
}

.list-group-item{
    font-size: 2.5vw;    
    text-align: center; 
    width: 100%;   
    background-color: rgb(209 213 219); 
    border-bottom: solid black;
} 
#current-list-name{
    font-size: 5vw;  
    
}  
.current-list-todos{
    font-size: large;
    border: solid red;
    margin: 1%;
    padding: 5px;
    width: 50%;
    font-size: 3vw;
}
#check{
    width: 4vw;
    height: 2vw;
}
#listBox{
    width: 20vw;
    height: 5vh;
    padding: 25px 0px;
    font-size: 2vw;
}
#bottombox{
    width: 38.5vw;
    height: 10%; 
    margin: 0% 1.1%;
}
#enter{
    font-size: 1vw;
    padding: 1%;
    margin: 3%;
}
.trash {
    display: none;
  }
  
  .selected .trash {
    display: inline;
  }